C++/*
!C++/lab/
PiJ/*
!PiJ/lab/
ISD/*
!ISD/lab/
!ISD/cw/
ISD/cw/Soki3
ISD/cw/dw

Android/
CompSys/
ICS/
CSEP/
Excel/
Intro_Comp/
ISTests12/
IWT/
thinkingInJava/
xmltools/
ITP/
launch4j/
*.exe
*.pdf
*.ppt
*.zip
*.xls
*.jnlp
*.class
*.txt
*.csv