C++/*
!C++/lab/
PiJ/*
!PiJ/lab/
PiJ/lab/.metadata/*
ISD/*
!ISD/lab/
!ISD/cw/
ISD/cw/Soki3
ISTests13/

Android/
CompSys/
ICS/
CSEP/
Excel/
Intro_Comp/
ISTests12/
IWT/
thinkingInJava/
xmltools/
ITP/
launch4j/
*.exe
*.pdf
*.ppt
*.zip
*.xls
*.jnlp
*.class
*.txt
*.csv
*.log